<h1>Summary</h1>

<h2>Stats</h2>

<ul>
  <li><b>Users:</b> <%= @users.count %></li>
  <li><b>Periods:</b> <%= @periods.count %></li>
  <li><b>Days:</b> <%= @days.count %></li>
  <li><b>Expenses:</b> <%= @expenses_all.count %> (discarded: <%= @discarded_expenses.count %>)</li>
</ul>

<h2>Environment Variables</h2>

<ul>
  <% ENV.each do |k, v| %>
    <li><b><%= k %>:</b> <%= v %></li>
  <% end %>
</ul>
